// footer begins
footer
	div.wrapper
		div.container-fluid
			div.row
				// copyright begins
				div.footer-col.footer-left.col-sm-4.col-xs-12.clear Copyright 2016 © Layout.02
				// copyright ends
				// social icons begins
				div.footer-col.footer-center.col-sm-4.col-xs-12.clear
					ul
						li.icon
							a(href="" class="fa fa-facebook")
						li.icon
							a(href="" class="fa fa-twitter")
						li.icon
							a(href="" class="fa fa-linkedin")
						li.icon
							a(href="" class="fa fa-pinterest-p")
						li.icon
							a(href="" class="fa fa-google-plus")
				// social icons ends
				// documents begins
				div.footer-col.footer-right.col-sm-4.col-xs-12.clear 
					a.footer_privacy(href="") Privacy Policy 
					a.footer_terms(href="") Terms & Conditions
				// documents ends

// footer ends

// slider lib

script(type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js", defer)

// main js

script(src='js/script.js', defer type="text/javascript")   

// google map 

script(defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOfwm_luATF2JBZgyOTTW9Li3qUv3gioA&callback=initMap&language=en")