title Lorem Ipsum

meta(charset='utf-8')

meta(name="viewport" content="width=device-width, initial-scale=1")

//favicon

link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

link(rel="icon" href="images/favicon.ico" type="image/x-icon")

// fontawesome

link(rel="stylesheet" href="css/font-awesome.min.css")

// bootstrap grid

link(rel="stylesheet" href="bootstrap/bootstrap.min.css")

// slider default style

link(rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")

// main styles

link(rel='stylesheet' href='css/style.css') 

// for ie 9 - it doesn't see jquery when it placed next to other js files

script(src="http://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript")